<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
        }

        .form {
            border: 1px solid #d7d7d7;
            justify-self: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #ffffff;
            padding: 30px;
            width: 450px;
            border-radius: 20px;
            font-family: 'Source Sans Pro';
        }

        .form button {
            align-self: flex-end;
        }

        .button-submit {
            margin: 20px 0 10px 0;
            background-color: #151717;
            border: none;
            color: white;
            font-size: 15px;
            font-weight: 500;
            border-radius: 10px;
            height: 50px;
            width: 100%;
            cursor: pointer;
        }

        .button-submit:hover {
            background-color: #252727;
        }
    </style>
</head>

<body>
    <form class="form" action="/logout">
        <h1>Hello, <%= name %></h1>
        <button class="button-submit">Log out</button>
        </div>
    </form>
</body>

</html>